fastapi
uvicorn[standard]
python-dotenv
pydantic>=2.5
pydantic-settings>=2.0
SQLAlchemy>=2.0
pyodbc
azure-storage-blob
python-multipart
alembic
passlib[bcrypt]
python-jose
email-validator
bcrypt==3.2.2
pandas
numpy
openpyxl
plotly
psycopg2-binary
azure-identity
openai
xlrd>=2.0.1
